@font-face {
	font-family: 'Roboto';
	src: url('../font/Roboto/Roboto-Thin.woff') format('woff'),
		 url('../font/Roboto/Roboto-Thin.ttf') format('truetype');
	font-weight: 100;
}
@font-face {
	font-family: 'Roboto';
	src: url('../font/Roboto/Roboto-Regular.woff') format('woff'),
		 url('../font/Roboto/Roboto-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'Roboto';
	src: url('../font/Roboto/Roboto-Light.woff') format('woff'),
		 url('../font/Roboto/Roboto-Light.ttf') format('truetype');
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto';
	src: url('../font/Roboto/Roboto-Black.woff') format('woff'),
		 url('../font/Roboto/Roboto-Black.ttf') format('truetype');
	font-weight: 900;
}

@font-face {
	font-family: 'HammersmithOne';
	src: url('../font/Hammersmith_One/HammersmithOne-Regular.woff') format('woff'),
		 url('../font/Hammersmith_One/HammersmithOne-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'PlayfairDisplay';
	src: url('../font/Playfair_Display/PlayfairDisplay-Regular.woff') format('woff'),
		 url('../font/Playfair_Display/PlayfairDisplay-Regular.ttf') format('truetype');
}
@font-face {
	font-family: 'PlayfairDisplay';
	src: url('../font/Playfair_Display/PlayfairDisplay-Bold.woff') format('woff'),
		 url('../font/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
}
@font-face {
	font-family: 'PlayfairDisplay';
	src: url('../font/Playfair_Display/PlayfairDisplay-Black.woff') format('woff'),
		 url('../font/Playfair_Display/PlayfairDisplay-Black.ttf') format('truetype');
	font-weight: 900;
}


